.bottom-nav {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  a {
    font-size: 0.9rem;
  }

  a:hover {
    border-bottom: 2px solid black;
  }
}
