.current-blog-post {
  font-family: "Merriweather", Georgia, serif;
 
}

.bottom-nav {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
}
