// .current-blog-post {
//   // font-family: "Merriweather", Georgia, serif;

//   p {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 28px;
//     color: var(--dark-color);
//   }

//   a {
//     text-decoration: var(--primary-color);
//     border-bottom: var(--theme);
//   }
// }

.bottom-nav {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  a {
    font-size: 0.9rem;
  }

  a:hover {
    border-bottom: 2px solid black;
  }
}
