.current-blog-post {
  h1 {
    margin-top: rythm(1);
    margin-bottom: 0;
  }
  
  hr {
    margin-bottom: rythm(1);
  }

   p {
       display: block;
   }
}

.bottom-nav {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
}
