.author-info {
  > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    .author-img {
      margin-right: 2rem;
      img {
        height: 200px !important ;
        width: 200px !important;
        border-radius: 50%;
        border: 3px solid var(--theme);
      }
    }

    margin-bottom: 2rem;
  }

  .info {
    h1 {
      color: var(--primary-color);
      font-weight: 700;
      font-size: 2.4rem;
      margin-left: 1rem;
    }

    .social-icons {
      display: flex;
      justify-content: start;
      a {
        img {
          height: 20px;
          padding-left: 1rem;
        }
      }
    }

    p {
      font-family: "IBM Plex Mono", monospace;
    }
  }
}

.tech-stack {
  padding: 1rem 0;
  h2 {
    padding: 2rem 0;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03rem;
  }
  .techs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
  }
}
