// Utility class
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
  }
  
  .text-center {
    text-align: center;
  }

  .flex {
    display: flex;
  }