$font-stack: Ubuntu, sans-serif;
$primary-color: #555;
$font-stack: Roboto, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* + * {
  margin-top: 1rem;
}

html,
body {
  margin: 0;
  color: $primary-color;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.4;
  transition: 0.2s ease-out;
  background-color: white;
  > div {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
    line-height: 1.1;
  }

  strong {
    color: #222;
  }

  li {
    margin-top: 0.25rem;
  }
}


::selection {
  background: rgba(255, 235, 20, 0.7);
  color: #111;
}