article {
  margin-bottom: 30px;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0 0 0.75rem 0 rgba(0, 0, 0, 0.1);

//   &:hover {
//     transform: translateY(-1px);
//     box-shadow: 0.5rem 1.25rem 2rem 0 rgba(0, 0, 0, 0.2);
// }

  p {
    font-size: 1.2rem;
  }
}
